<p>You are not authorized, fool.</p>
<form method="POST" action="/token">
  <label for="api-token">Semaphore API token:</label>
  <input id="api-token" type="text" name="api-token">
  <button>Submit</button>
</form>